.App {
	text-align: center;
	padding: 100px;
	background: #648880;
	background: linear-gradient(to right, #f6f1d3, #648880 85%, #293f50);
}

.wrapper {
	min-height: 100vh;
	display: flex;
	justify-content: space-between;
}
.wrapper div {
	width: 250px;
	border: 1px solid rgb(73, 212, 194);
}
input {
	margin-bottom: 40px;
	border: none;
	border-bottom: 1px solid white;
	background: none;
	outline: none;
	color: red;
	font-size: 25px;
	height: 35px;
	width: 300px;
}
input::-webkit-input-placeholder {
	color: rgb(1, 90, 90);
	font-size: 24px;
}
input:active {
	border: 2px solid red;
}

.buttonInput {
	background: none;
	height: 35px;
	width: 100px;
	margin-left: 10px;
	border: 1px solid white;
	outline: navy;
}
.buttonInput:hover {
	background: rgb(80, 94, 82);
	border: none;
}
.buttonInput:active {
	background: rgb(38, 190, 25);
	border: none;
}

.todo_item {
	position: absolute;
	cursor: move;
	text-align: center;
	width: 115px;
	border-radius: 12px;
	min-width: 200px;
	padding: 1.5em;
	color: black;
}

.delate {
	background: white;
	position: absolute;
	top: 5px;
	right: 5px;
}
.delate:hover {
	color: red;
	cursor: pointer;
}
